*{margin:0;padding:0;}body,html{width:100%;height:100%;}
.jcs_dialog{background:rgba(0,0,0,0.6);width:100%;height:100%;position:fixed;z-index:199999999999;
	left:0;top:0;}
.j_inner{position:absolute;left:50%;top:50%;-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);z-index:8;width:71px;height:76px;}
.j_inner img{width:100%;height:auto;float: left;position: absolute;left:0;
	top:0;z-index: 3;}
.j_move{display:inline-block;float:left;width:100%;height:0px;background:url('cai2.png') no-repeat;
	background-size:70px 77px;background-position:0 -76px;position: absolute;left:0px;bottom:0;
	z-index:10;-webkit-animation: flash infinite 2s;animation: flash infinite 2s;
	-webkit-animation-fill-mode:both;animation-fill-mode:both;}
/* @-webkit-keyframes flash {
	from{height:0;background-position: 0 -76px;}
	to{height:76px;background-position: 0 0px;}
}
@keyframes flash {
	from{height:0;background-position: 0 -76px;}
	to{height:76px;background-position: 0 0px;}
} */
.maskz{width:100%;height:100%;background:rgba(0,0,0,0.6);position: fixed;left:0;top:0;}
.jcs_decision{width:100%;height:140px;background:#282828;text-align:center;line-height:45px;position:fixed;
	bottom:0; -webkit-animation:heightt 0.5s;animation:heightt 0.5s;z-index:99999;}
.jcs_decision p{height:45px;background:#333333;color:#ddd;font-size:15px;}
.jcs_decision .jcs_decision_tit{margin-bottom:4px;}
.jcs_decision .jcs_decision_true{margin-bottom:1px;color:#ffdf1b;}
@keyframes heightt{
	from{height:0;}
	to{height:140px;}
}
@-webkit-keyframes heightt{
	from{height:0;}
	to{height:140px;}
}